*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(65deg, rgb(252, 250, 250), rgba(219, 210, 210, 0.699));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 320px;
    height: 600px;
    padding: 20px;
    background: transparent;
    border: 1px solid red;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(252, 3, 3, 0.699);
}
input{
    width: 94%;
    height: 100px;
    margin: 10px;
    margin-bottom: 30px;
    padding: 30px;
    border: none;
    color: rgb(0, 6, 10);
    background: transparent;
    text-align: right;
    box-shadow: 0px 3px 15px rgba(63, 9, 9, 0.699);
     border-radius: 10px;
     font-size: 40px;
}
input::placeholder{
    border: none;
    color: rgb(0, 2, 3);
}
.btncont{
    padding: 8px;
    margin-left: 7px;
}
button{
    background: transparent;
    width: 60px;
    height: 60px;
    m
    border: none;
    border-radius: 50%;
   
    box-shadow: -0px -3px -15px rgba(63, 9, 9, 0.699);
    font-size: 20px;
    cursor: pointer;
}
#equalbtn{
   background-color: rgb(214, 120, 13);
}
.operator{
     color: rgb(55, 0, 255);
}
